* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
  color: #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #db5a7f;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #d993a7;
  text-decoration: none;
}

p {
  font-size: 1.2em;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #222;
  color: #d9d9d9;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #333;
}
