@import "tailwindcss";

/* @import "@tailwindcss/forms"; */

@theme {
  /* Custom background images */
  --background-image-todo-header-day: url('/src/assets/header-day.jpg');
  --background-image-todo-header-afternoon: url('/src/assets/header-afternoon.jpg');
  --background-image-todo-header-night: url('/src/assets/header-night.jpg');
}

/*
.bg-todo-header-day {
    background-image: url('/src/assets/header-day.jpg');
}

.bg-todo-header-afternoon {
    background-image: url('/src/assets/header-afternoon.jpg');
}

.bg-todo-header-night {
    background-image: url('/src/assets/header-night.jpg');
}
*/
