name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  component-tests:
    name: Component Tests (Vitest)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci
      - run: npm run test

  e2e-tests:
    name: E2E Tests (Cypress)
    runs-on: ubuntu-latest
    needs: component-tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm run dev
          wait-on: "http://localhost:5173"
          wait-on-timeout: 60
          browser: chrome
